<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Entrance Area | PMC Doorcares</title>
    <meta name="description" content="A description.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />

</head>

<body class="p-0 bg-dark h-100 text-center text-white">
    <div class="sticky-top fixedtop" includehtml="/src/navbar.html"></div>
    <main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="vue-app">
        <article class="container my-5">
            <section class="row justify-content-center">
                <div class="col-sm-10">
                    <h1 class="text-center text-white mt-5"> Entrance Area </h1>
                    <h5 class="text-muted text-center"> <strong> B-08-03</strong>, KL Gateway Residences </h5>
                    <hr>
                    <ul class="nav nav-pills nav-fill nav-center">
                        <li class="nav-item nav-link fixed-width">
                            <div class="btn-group w-100">
                                <button type="button" class="btn btn-primary dropdown-toggle autowidth"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Tenancy start date
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><span class="dropdown-item searchBox">
                        <input class="form-control " type="date" placeholder="Search" aria-label="Search" /></span></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item nav-link fixed-width">
                            <div class="btn-group w-100">
                                <button type="button" class="btn btn-primary dropdown-toggle autowidth"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Tenancy end date
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><span class="dropdown-item searchBox">
                        <input class="form-control " type="date" placeholder="Search" aria-label="Search" /></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <div class="col-12 d-flex flex-wrap m-child-1 justify-content-center my-5">
                        <div v-for="(button,index) in buttons">
                            <button class="btn btn-outline-info" @click="handleActive" :id="`${button.key}`">
                                {{button.name}}
                            </button>
                        </div>
                    </div>

                    <!-- Check in -->
                    <div class="col-12 text-start table-responsive" v-if="btnActive == 0">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <h6 class="m-0"> Date of condition </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Condition image </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Description of condition</h6>
                                    </td>
                                    <td style="width: 250px;">
                                        <h6 class="m-0"> Action </h6>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <p>-</p>
                                    </td>
                                    <td class="align-middle">
                                        <img width="250px" height="140px" style="cursor:pointer;" data-bs-toggle="modal"
                                            data-bs-target="#triggerModal"
                                            src="https://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2011/7/13/20/SP0373_loft-wood-floor_s4x3.jpg.rend.hgtvcom.1280.960.suffix/1405498854526.jpeg"
                                            alt="..Foto">
                                    </td>
                                    <td> - </td>
                                    <td class="row my-child-2 mx-0 align-middle" style="width: 250px;">
                                        <button class="btn btn-outline-info">
                                            Edit
                                        </button>
                                        <button class="btn btn-info ">
                                            Save
                                        </button>
                                        <button class="btn btn-primary">
                                            Move to Omissions
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Additions -->
                    <div class="col-12 text-start table-responsive" v-if="btnActive == 1">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <td colspan="6" class="text-end">
                                        <button class="btn btn-primary btn-sm mb-3">+ Add Item</button>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <h6 class="m-0"> Date of condition </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Condition image </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Description of Addition</h6>
                                    </td>
                                    <td style="width: 250px;">
                                        <h6 class="m-0"> Action </h6>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="align-middle">
                                        <img width="250px" height="140px" style="cursor:pointer;" data-bs-toggle="modal"
                                            data-bs-target="#triggerModal"
                                            src="https://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2011/7/13/20/SP0373_loft-wood-floor_s4x3.jpg.rend.hgtvcom.1280.960.suffix/1405498854526.jpeg"
                                            alt="..Foto">
                                    </td>
                                    <td> - </td>
                                    <td class="row my-child-2 mx-0 align-middle" style="width: 250px;">
                                        <button class="btn btn-outline-info">
                                            Edit
                                        </button>
                                        <button class="btn btn-info ">
                                            Save
                                        </button>
                                        <button class="btn btn-primary">
                                            Move to Omissions
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12 text-start table-responsive" v-if="btnActive == 2">

                        <table class="table table-dark table-striped">
                            <thead>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <h6 class="m-0"> Date of condition </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Condition image </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Description of condition </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Date of Omissions </h6>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="align-middle">
                                        <img width="250px" height="140px" style="cursor:pointer;" data-bs-toggle="modal"
                                            data-bs-target="#triggerModal"
                                            src="https://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2011/7/13/20/SP0373_loft-wood-floor_s4x3.jpg.rend.hgtvcom.1280.960.suffix/1405498854526.jpeg"
                                            alt="..Foto">
                                    </td>
                                    <td> - </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12 text-start table-responsive" v-if="btnActive == 3">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <h6 class="m-0"> Date of condition </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Condition image </h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0"> Description of condition</h6>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="align-middle">
                                        <img width="250px" height="140px" style="cursor:pointer;" data-bs-toggle="modal"
                                            data-bs-target="#triggerModal"
                                            src="https://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2011/7/13/20/SP0373_loft-wood-floor_s4x3.jpg.rend.hgtvcom.1280.960.suffix/1405498854526.jpeg"
                                            alt="..Foto">
                                    </td>
                                    <td> - </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </article>
        <footer includehtml="/src/footer.html" class="mt-auto"></footer>
    </main>



    <!-- Modal -->

    <div class="modal fade" id="triggerModal" tabindex="-1" aria-labelledby="triggerModalLabel" aria-hidden="true">
        <div class="modal-dialog text-dark">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="triggerModalLabel">Condition image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img width="100%" height="100%"
                        src="https://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2011/7/13/20/SP0373_loft-wood-floor_s4x3.jpg.rend.hgtvcom.1280.960.suffix/1405498854526.jpeg"
                        alt="..FotoModel">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/includefile.js"></script>
<script>
    includehtml();
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
        el: '#vue-app',
        data: {
            noData: '',
            btnActive: 0,
            buttons: [
                { name: 'Check in', key: 0 },
                { name: 'Additions', key: 1 },
                { name: 'Omissions', key: 2 },
                { name: "Check out", key: 3 }
            ],
            renderKey: 0
        },
        methods: {
            handleActive(event) {
                const btn = event.target
                document.getElementById(this.btnActive).classList.remove("active")
                this.btnActive = btn.id
                btn.classList.add("active")


            }
        },
        mounted() {
            console.log("Mounted!")
            /* Button Check as Default Active */
            document.getElementById(this.btnActive).classList.add("active")

        }
    })
</script>

</html>