<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Details | PMC Doorcares </title>
    <meta name="description" content="A description.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
</head>

<body class="p-0 bg-dark h-100 bg-dark">
    <nav class="sticky-top fixedtop" includehtml="/src/navbar.html"></nav>
    <main class="cover-container d-flex w-100 p-3 mx-auto flex-column" id="vue-app">
        <article class="container my-5">
            <section class="row justify-content-center">
                <section class="col-sm-10">
                    <h1 class="mt-5 text-white text-center">User In the Unit</h1>
                    <h5 class="text-muted text-center"> <strong> B-08-03</strong>, KL Gateway Residences </h5>
                    <hr class="text-white" />
                    <div class="d-flex justify-content-center mt-5">
                        <p class="m-0 me-5 text-white">Tenancy Start Date: 25-11-2021</p>
                        <p class="text-white">Tenancy End Date: 25-11-2022</p>
                    </div>
                    <ul class="nav nav-pills nav-fill nav-center">
                        <li class="nav-item nav-link fixed-width" v-for="(btn,index) in buttons" :key="index">
                            <div class="btn-group w-100">
                                <button type="button" class="btn btn-outline-info"
                                    v-bind:class="{ active: index === btnActive }" @click="handleClick" :id="index"
                                    aria-expanded="false">
                                    {{btn}}
                                </button>
                            </div>
                        </li>
                    </ul>
                    <hr class="text-white" />
                    <!-- </section> -->
                    <form>
                        <!-- LANDLORD -->
                        <article v-if="btnActive === 0">
                            <section class="row">

                                <section class="col-12">
                                    <section class="row justify-content-center align-items-center my-child-1">
                                        <div class="col-3 col-md-3 col-lg-2  ">
                                            <img src="/assets/img/avatar.svg" alt="/assets/img/avatar.svg" width="100%"
                                                height="100px" />
                                        </div>
                                        <div class="col-9 col-md-9 col-lg-3 text-center my-1">
                                            <h5 class="fw-bold text-start text-white">LANDLORD LONG NAME</h5>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 my-1 text-lg-start ">
                                            <select id="ddl_statusVerification" class="form-control form-select py-1">
                                                <option value="" selected>Verification status</option>
                                                <option>Verified</option>
                                                <option>Not verified</option>
                                            </select>

                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 text-end m-0 mt-1 mt-md-0">
                                            <button class="btn btn-outline-info w-100">+Add Co-Owner</button>
                                        </div>
                                    </section>
                                </section>
                                <hr class="col-12 mt-2">
                            </section>
                            <section class="row my-child-1">
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_userName" class="form-label text-white">Username</label>
                                    <input type="text" id="txt_userName" class="form-control" placeholder="Username">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_role" class="form-label text-white">Role</label>
                                    <input type="text" id="txt_role" class="form-control" placeholder="role">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_emailId" class="form-label text-white">Email ID</label>
                                    <input type="text" id="txt_emailId" class="form-control" placeholder="email ">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_contactNo" class="form-label text-white">Contact number</label>
                                    <input type="text" id="txt_contactNo" class="form-control" placeholder="contact number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_gender" class="form-label text-white">Gender</label>
                                    <input type="text" id="txt_gender" class="form-control" placeholder="Gender">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_nationality" class="form-label text-white">Nationality</label>
                                    <input type="text" id="txt_nationality" class="form-control" placeholder="Nationality">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_birth" class="form-label text-white">Date of Birth</label>
                                    <input type="date" id="txt_birth" class="form-control" placeholder="Date of Birth">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_passportNo" class="form-label text-white">Passport number</label>
                                    <input type="text" id="txt_passportNo" class="form-control" placeholder="Passport number">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_icNo" class="form-label text-white">IC number</label>
                                    <input type="text" id="txt_icNo" class="form-control" placeholder="IC number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_bankName" class="form-label text-white">Bank name</label>
                                    <input type="text" id="txt_bankName" class="form-control" placeholder="Bank Name">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_bankAccNo" class="form-label text-white">Bank account number</label>
                                    <input type="text" id="txt_bankAccNo" class="form-control" placeholder="Bank account number">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_creditCardNo" class="form-label text-white">Credit card number</label>
                                    <input type="text" id="txt_creditCardNo" class="form-control" placeholder="Credit card number">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_companyName" class="form-label text-white">Company name</label>
                                    <input type="text" id="txt_companyName" class="form-control" placeholder="Company name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_occupation" class="form-label text-white">Occupation</label>
                                    <input type="text" id="txt_occupation" class="form-control" placeholder="Occupation">
                                </fieldset>
                            </section>
                            <hr class="bg-white" />
                            <section class="row my-child-1">
                                <div class="col-12 mt-5">
                                    <h2 class="text-white">Corresponding address</h2>
                                </div>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_block" class="form-label text-white">Block</label>
                                    <input type="text" for="txt_block" class="form-control" placeholder="Block">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_level" class="form-label text-white">Level</label>
                                    <input type="text" id="txt_level" class="form-control" placeholder="Level">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_unit" class="form-label text-white">Unit</label>
                                    <input type="text" id="txt_unit" class="form-control" placeholder="Unit">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_buildingName" class="form-label text-white">Building name</label>
                                    <input type="text" id="txt_buildingName" class="form-control" placeholder="Building name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_lotUnitNo" class="form-label text-white">Lot/unit number</label>
                                    <input type="text" id="txt_lotUnitNo" class="form-control" placeholder="Lot/unit number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_streetName" class="form-label text-white">Street name</label>
                                    <input type="text" id="txt_streetName" class="form-control" placeholder="Street name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_residentalArea" class="form-label text-white">Residential area</label>
                                    <input type="text" class="form-control" placeholder="Residential area">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_postCode" class="form-label text-white">Post code</label>
                                    <input type="text" id="txt_postCode" class="form-control" placeholder="Post code">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_city" class="form-label text-white">City</label>
                                    <input type="text" id="txt_city"  class="form-control" placeholder="City">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_state" class="form-label text-white">State</label>
                                    <input type="text" id="txt_state" class="form-control" placeholder="State">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_country" class="form-label text-white">Country</label>
                                    <input type="text" id="txt_country" class="form-control" placeholder="Country">
                                </fieldset>
                            </section>
                        </article>
                        <article v-if="btnActive === 1">
                            <section class="row">
                                <section class="col-12">
                                    <section class="row justify-content-center align-items-center my-child-1">
                                        <div class="col-3 col-md-3 col-lg-2  ">
                                            <img src="/assets/img/avatar.svg" alt="/assets/img/avatar.svg" width="100%"
                                                height="100px" />
                                        </div>
                                        <div class="col-9 col-md-9 col-lg-3 text-center my-1">
                                            <h5 class="fw-bold text-start text-white">TENANT LONG NAME</h5>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 my-1 text-lg-start ">
                                            <!-- THIS IS THE MIDDLE GAP -->
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 text-end m-0 mt-1 mt-md-0">

                                            <select id="ddl_verificationStatus" class="form-control form-select py-1">
                                                <option value="" selected>Verification status</option>
                                                <option>Verified</option>
                                                <option>Not verified</option>
                                            </select>
                                        </div>
                                    </section>
                                </section>
                                <hr class="col-12 mt-2">
                            </section>
                            <section class=" row my-child-1">
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_userName" class="form-label text-white">Username</label>
                                    <input type="text" id="txt_userName" class="form-control" placeholder="Username">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_role" class="form-label text-white">Role</label>
                                    <input type="text" id="txt_role" class="form-control" placeholder="role">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_emailId" class="form-label text-white">Email ID</label>
                                    <input type="text" id="txt_emailId" class="form-control" placeholder="email">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_contactNo" class="form-label text-white">Contact number</label>
                                    <input type="text" id="txt_contactNo" class="form-control" placeholder="contact number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_gender" class="form-label text-white">Gender</label>
                                    <input type="text" id="txt_gender" class="form-control" placeholder="Gender">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_nationality" class="form-label text-white">Nationality</label>
                                    <input type="text" id="txt_nationality" class="form-control" placeholder="Username">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_birth" class="form-label text-white">Date of Birth</label>
                                    <input type="date" id="txt_birth" class="form-control" placeholder="Date of Birth">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_passportNo" class="form-label text-white">Passport number</label>
                                    <input type="text" id="txt_passportNo" class="form-control" placeholder="Passport number">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_icNo" class="form-label text-white">IC number</label>
                                    <input type="text" id="txt_icNo" class="form-control" placeholder="IC number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_bankName" class="form-label text-white">Bank name</label>
                                    <input type="text" id="txt_bankName" class="form-control" placeholder="Bank Name">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_bankAccNo" class="form-label text-white">Bank account number</label>
                                    <input type="text" id="txt_bankAccNo" class="form-control" placeholder="Bank account number">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_creditCardNo" class="form-label text-white">Credit card number</label>
                                    <input type="text" id="txt_creditCardNo" class="form-control" placeholder="Credit card number">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_companyName" class="form-label text-white">Company name</label>
                                    <input type="text" id="txt_companyName" class="form-control" placeholder="Company name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_occupation" class="form-label text-white">Occupation</label>
                                    <input type="text" id="txt_occupation" class="form-control" placeholder="Occupation">
                                </fieldset>
                                <hr class="bg-white" />
                            </section>
                            <section class="row my-child-1">
                                <div class="col-12 mt-5">
                                    <h2 class="text-white">Corresponding address</h2>
                                </div>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_block" class="form-label text-white">Block</label>
                                    <input type="text" id="txt_block"  class="form-control" placeholder="Block">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_level" class="form-label text-white">Level</label>
                                    <input type="text" id="txt_level" class="form-control" placeholder="Level">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_unit" class="form-label text-white">Unit</label>
                                    <input type="text" id="txt_unit" class="form-control" placeholder="Unit">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_buildingName" class="form-label text-white">Building name</label>
                                    <input type="text" id="txt_buildingName" class="form-control" placeholder="Building name">
                                </fieldset>


                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_lotUnitNo" class="form-label text-white">Lot/unit number</label>
                                    <input type="text" id="txt_lotUnitNo" class="form-control" placeholder="Lot/unit number">
                                </fieldset>

                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_streetName" class="form-label text-white">Street name</label>
                                    <input type="text" id="txt_streetName" class="form-control" placeholder="Street name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_residentalArea" class="form-label text-white">Residential area</label>
                                    <input type="text" id="txt_residentalArea" class="form-control" placeholder="Residential area">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_postCode" class="form-label text-white">Post code</label>
                                    <input type="text" id="txt_postCode" class="form-control" placeholder="Post code">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_city" class="form-label text-white">City</label>
                                    <input type="text" id="txt_city" class="form-control" placeholder="City">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_state" class="form-label text-white">State</label>
                                    <input type="text" id="txt_state" class="form-control" placeholder="State">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_country" class="form-label text-white">Country</label>
                                    <input type="text" id="txt_country" class="form-control" placeholder="Country">
                                </fieldset>
                            </section>

                        </article>

                        <article v-if="btnActive === 2">
                            <section class="row my-child-1">
                                <section class="col-12">
                                    <section class="row justify-content-start align-items-center">
                                        <div class="col-3 col-md-3 col-lg-2  ">
                                            <img src="/assets/img/avatar.svg" alt="/assets/img/avatar.svg" width="100%"
                                                height="100px" />
                                        </div>
                                        <div class="col-9 col-md-9 col-lg-3 my-1">
                                            <h5 class="fw-bold text-start text-white">PIC LONG NAME</h5>
                                        </div>

                                    </section>
                                </section>
                                <hr class="col-12 mt-2 mb-3">
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_userName" class="form-label text-white">Username</label>
                                    <input type="text" id="txt_userName" class="form-control" placeholder="Username">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_role" class="form-label text-white">Role</label>
                                    <input type="text" id="txt_role" class="form-control" placeholder="Role">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_emailId" class="form-label text-white">Email ID</label>
                                    <input type="text" id="txt_emailId" class="form-control" placeholder="Email">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_contactNo" class="form-label text-white">Contact Number</label>
                                    <input type="text" id="txt_contactNo" class="form-control" placeholder="contact number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_gender" class="form-label text-white">Gender</label>
                                    <input type="text" id="txt_gender" class="form-control" placeholder="Gender">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_nationality" class="form-label text-white">Nationality</label>
                                    <input type="text" id="txt_nationality" class="form-control" placeholder="Nationality">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_birth" class="form-label text-white">Date of birth</label>
                                    <input type="date" id="txt_birth" class="form-control" placeholder="Date of birth">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_passportNo" class="form-label text-white">Passport number</label>
                                    <input type="text" id="txt_passportNo" class="form-control" placeholder="Passport number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_icNo" class="form-label text-white">IC number</label>
                                    <input type="text" id="txt_icNo" class="form-control" placeholder="IC numbe">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_bankName" class="form-label text-white">Bank name</label>
                                    <input type="text" id="txt_bankName" class="form-control" placeholder="Bank name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_bankAccNo" class="form-label text-white">Bank account number</label>
                                    <input type="text" id="txt_bankAccNo" class="form-control" placeholder="Bank account number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_creditCardNo" class="form-label text-white">Credit card number</label>
                                    <input type="text" id="txt_creditCardNo" class="form-control" placeholder="Credit card number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_renNo" class="form-label text-white">REN number</label>
                                    <input type="text" id="txt_renNo" class="form-control" placeholder="REN number">
                                </fieldset>
                                <hr class="bg-white" />
                            </section>
                            <section class="row my-child-1">
                                <div class="col-12 mt-5">
                                    <h2 class="text-white">Corresponding address</h2>
                                </div>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_block" class="form-label text-white">Block</label>
                                    <input type="text" id="txt_block" class="form-control" placeholder="Block">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_level" class="form-label text-white">Level</label>
                                    <input type="text" id="txt_level" class="form-control" placeholder="Level">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_unit" class="form-label text-white">Unit</label>
                                    <input type="text" id="txt_unit" class="form-control" placeholder="Unit">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_buildingName" class="form-label text-white">Building name</label>
                                    <input type="text" id="txt_buildingName" class="form-control" placeholder="Building name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_lotUnitNo" class="form-label text-white">Lot/unit number</label>
                                    <input type="text" id="txt_lotUnitNo" class="form-control" placeholder="Lot/unit number">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_streetName" class="form-label text-white">Street name</label>
                                    <input type="text" id="txt_streetName" class="form-control" placeholder="Street name">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_residentalArea" class="form-label text-white">Residential area</label>
                                    <input type="text" id="txt_residentalArea" class="form-control" placeholder="Residential area">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_postCode" class="form-label text-white">Post code</label>
                                    <input type="text" id="txt_postCode" class="form-control" placeholder="Post code">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_city" class="form-label text-white">City</label>
                                    <input type="text" id="txt_city" class="form-control" placeholder="City">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_state" class="form-label text-white">State</label>
                                    <input type="text" id="txt_state" class="form-control" placeholder="State">
                                </fieldset>
                                <fieldset class="col-12 col-md-6 col-xl-3">
                                    <label for="txt_country" class="form-label text-white">Country</label>
                                    <input type="text" id="txt_country"  class="form-control" placeholder="Country">
                                </fieldset>
                            </section>
                        </article>

                        <hr class="my-5 bg-white" />
                        <article class="row justify-content-end mt-5">
                            <div class="col-md-3 col-6">
                                <a href="javascript:void" class="w-100 btn btn-outline-info">
                                    Edit &nbsp;
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            <div class="col-md-3 col-6">
                                <a href="javascript:void" class="w-100 btn btn-primary">
                                    Save &nbsp;
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </a>
                            </div>
                        </article>

                    </form>
                    <hr />
                </section>
            </section>
        </article>

        <footer includehtml="/src/footer.html" class="mt-auto"></footer>
    </main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/includefile.js"></script>
<script>
    includehtml();
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
        el: '#vue-app',
        data: {
            btnActive: 0,
            buttons: [
                'Landlord',
                'Tenant',
                'PIC',
            ],

        },
        methods: {
            handleClick(event) {
                document.getElementById(this.btnActive).classList.remove('active')
                this.btnActive = parseInt(event.target.id)
                event.target.classList.add('active')
            }
        }
    })
</script>

</html>