/* Global Classes */

* {
  box-sizing: border-box;
}

body {
  padding-top: 5rem;
  font-size: .875rem;
}
.bg-gray {
  background: #f0f0f0;
}
.bg-muted {
  background-color: #b3b6b9;
}
.h-100 {
  height: 100vh !important;
}
.w-300px{
  width: 300px !important;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.bdr-radius-right {
  border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}
.img-circle {
  background-color: #efefef;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 50% !important;
  max-width: 100%;
}
.fixedtop {
  position: fixed;
  width: 100% !important;
}
.desktop {
  display: block ;
}
.mobile {
  display: none ;
}
.fixed-width {
  width: 199px;
}
.nav-center {
  justify-content: center;
}

.app-link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.app-link:hover {
  color: #0dcaf0;
  text-decoration: underline;
}

a.remove-a-css {
  text-decoration: none;
  color: inherit;
}
.p-child-1 > * {
  padding: 0.5rem;
}

.p-child-2 > * {
  padding: 1rem;
}

.m-child-1 > * {
  margin: 0.5rem;
}

.m-child-2 > * {
  margin: 1rem;
}

.my-child-1 > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-child-2 > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pointer {
  cursor: pointer;
}

.btn__anchor {
  border: 1px solid #17a2b8;
  color: #17a2b8;
  border-radius: 1rem;
  padding: 0.6rem;
  transition: 0.3s;
}
.btn__anchor-text-info {
  color: #17a2b8;
}
.btn__anchor:hover {
  color: white;
  background-color: #17a2b8;
}
.size-1 {
  font-size: 0.5rem;
}
.size-2 {
  font-size: 1rem;
}
.size-3 {
  font-size: 1.4rem;
}
.size-4 {
  font-size: 1.8rem;
}
.b-check {
  border: 1px solid red;
}

.width-fit {
  width: fit-content;
}

.border-radius-1 {
  border-radius: 5px;
}
.border-radius-2 {
  border-radius: 10px;
}
.border-radius-3 {
  border-radius: 16px;
}

.bg-blue-1 {
  background-color: #0d6efd;
}

.building__highlight-title {
  background-color: #0b5ed7;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
  margin: 0.5rem 0;
}

.building__title {
  font-size: 1.75rem;
  margin: 0.4rem 0;
}

.building__title--h1 {
  text-align: left;
  width: fit-content;
  margin: 1.5rem 0;
}

.opacity-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.min-height-30 {
  min-height: 30px;
}
.min-height-100 {
  min-height: 100px;
}
.min-height-200 {
  min-height: 200px;
}
.min-height-300 {
  min-height: 300px;
}

.hrdotted {
  border-top: 3px dotted#c7c7c7;
}

.small-profilePic {
  width: 50px !important;
  height: 50px !important;
}
.noborderbtm {
  border-bottom: 0px solid !important;
}
.nobordertop {
  border-top: 0px solid !important;
}

.paymobile {
  display: none;
}

.paydesktop {
  display: block;
}

a.cardtext {
  color: #000;
  text-decoration: none;
}
a.cardtext:hover {
  color: #000;
  text-decoration: none;
}

.bg-liteBlueTenant {
  background-color: #a9ccea !important;
}

.bg-liteBlueLandlord {
  background-color: #5ab3ff !important;
}

.table>thead {
  text-transform: capitalize;
}

.listComment {
  list-style: none;
  padding-inline-start: 0;
}
.listComment li {
  margin: 5px 10px;
}


/* text */
/* ================================= */

.text-red {
  color: red !important;
}

.text-green {
  color: #06D85F !important;
}

.text-blue {
  color: #17a2b8 !important;
}


/* modal */
/* ================================= */
.btn-close {
  color: #fff !important;
}

/* button customize */
/* ================================= */

.btn-customsize {
  padding: 20px;
  border-radius: 13px;
}