/* Global */

/* ========================================== */

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .paymobile {
    display: block;
  }
  .paydesktop {
    display: none;
  }
}

/* Sidebar */

/* ========================================== */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* timeline */

/* ========================================== */

@media screen and (max-width: 600px) {
  .timelinecontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timelinecontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .left::after, .right::after {
    left: 15px;
  }
  .right {
    left: 0%;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .timeline::after {
    left: 28px !important;
    top: 26px !important;
    bottom: 147px !important;
  }
}

/* Dropdows
======================================================= */

@media (min-width: 769px) and (max-width: 1124px) {
  .nav-link {
    min-width: auto !important;
    flex: none !important;
  }
  .nav-center {
    justify-content: start !important;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100vw !important;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .nav {
    justify-content: left !important;
  }
  .nav-link {
    padding: .5rem 0.5rem;
    min-width: auto !important;
    flex: none !important;
  }
  .nav-center {
    justify-content: start !important;
  }
}

@media (min-width: 200px) and (max-width: 560px) {
  .nav-link {
    width: auto !important;
  }
  .nav-fill .nav-item, .nav-fill>.nav-link {
    flex: 1 1 auto;
  }
}