<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Details | PMC Doorcares</title>
    <meta name="description" content="A description.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
</head>

<body class="p-0 bg-dark h-100 text-center text-white">
    <nav class="sticky-top fixedtop" includehtml="/src/navbar.html"></nav>
    <main class="cover-container d-flex h-100 p-3 mx-auto mt-5 flex-column" id="vue-app">
        <article class="container my-5">
            <section class="row justify-content-center">
                <article class="col-sm-10">
                    <h1 class="text-white text-center">User Details</h1>
                    <hr class="bg-white" />
                    <form class="needs-validation text-start" novalidate>
                        <section class="row">
                            <section class="col-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="avatar-upload d-flex">
                                            <div class="avatar-preview">
                                                <div id="imagePreview"
                                                    style="background-image: url(/assets/img/avatar.svg);">
                                                </div>
                                            </div>
                                            <div class="align-self-center ms-3">
                                                <h5>John Doe Alexander</h5>
                                            </div>
                                        </div>
                                        <p class="m-0 text-muted">Account created on 12-12-2020 by (name)</p>
                                        <p class="text-muted">Last edited 21-12-2020, 12:12 PM by (name) </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Role</label>
                                        <input type="text" class="form-control" value="-">

                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Verification Status</label>
                                        <select class="form-control form-select" id="status">
                                            <option value="" selected> select </option>
                                            <option>Verified</option>
                                            <option>Not verified</option>
                                            <option>Pending</option>
                                        </select>

                                    </div>
                                </div>
                                <hr />
                            </section>
                        </section>
                    </form>
                    <section class="row">
                        <div class="col-12 col-md-6 col-xl-3 text-center " v-for="(btn,index) in buttons" :key="index">
                            <button class="btn btn-outline-info my-2 w-100"
                                v-bind:class="{ active: index === btnActive }" @click="handleClick" :id="index">
                                {{ btn }}
                            </button>
                        </div>
                    </section>
                    <section v-if="btnActive === 0">
                        <section class="row  text-start gy-4 mt-5">
                            <div class="col-12">
                                <h3>Personal Details</h3>
                            </div>
                            <fieldset class="col-6 col-xl-3">
                                <label class="form-label text-white" for="username">Username</label>
                                <input type="text" class="form-control" id="Username" placeholder="username">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white" for="family">Family/Sur Name
                                    (Optional)</label>
                                <input type="text" class="form-control" id="family" placeholder="family">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white" for="pass-no">Passport No.</label>
                                <input type="text" class="form-control" id="pass-no" placeholder="1234567890">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white" for="ic">Identification Number</label>
                                <input type="text" class="form-control" id="ic" placeholder="1234567890">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3 ">
                                <label for="" class="form-label text-white" for="gender">Gender</label>
                                <input type="text" class="form-control" id="gender" placeholder="gender">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3 ">
                                <label for="" class="form-label text-white" for="nationality">Nationality</label>
                                <input type="text" class="form-control" id="nationality" placeholder="nationality">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3 ">
                                <label for="" class="form-label text-white" for="dob">Date of birth</label>
                                <input type="text" class="form-control" id="dob" placeholder="dob">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3 ">
                                <label for="" class="form-label text-white" for="age">Age</label>
                                <input type="text" class="form-control" id="age" placeholder="age">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3 ">
                                <label for="" class="form-label text-white" for="occupation">Occuption</label>
                                <input type="text" class="form-control" id="occupation" placeholder="occupation">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3 ">
                                <label for="" class="form-label text-white" for="company-name">Company Name</label>
                                <input type="text" class="form-control" id="company-name" placeholder="company name">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3 ">
                                <label for="" class="form-label text-white" for="additional-role">Additional
                                    Role</label>
                                <input type="text" class="form-control" id="additional-role"
                                    placeholder="additional-role">
                            </fieldset>
                        </section>
                        <hr class="my-5" />

                        <section class="row text-start gy-4 mt-5">
                            <div class="col-12 4 ">
                                <h2>Corresponding address</h2>
                            </div>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Block</label>
                                <input type="text" class="form-control" placeholder="Block">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Level</label>
                                <input type="text" class="form-control" placeholder="Level">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Unit</label>
                                <input type="text" class="form-control" placeholder="Unit">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Building name</label>
                                <input type="text" class="form-control" placeholder="building name">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Lot/unit number</label>
                                <input type="text" class="form-control" placeholder="Lot/unit number">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Street name</label>
                                <input type="text" class="form-control" placeholder="Street name">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Residential area</label>
                                <input type="text" class="form-control" placeholder="Residential area">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Post code</label>
                                <input type="text" class="form-control" placeholder="Post code">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">City</label>
                                <input type="text" class="form-control" placeholder="City">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">State</label>
                                <input type="text" class="form-control" placeholder="State">
                            </fieldset>
                            <fieldset class="col-6 col-xl-3">
                                <label for="" class="form-label text-white">Country</label>
                                <input type="text" class="form-control" placeholder="Country">
                            </fieldset>
                        </section>

                        <section class="row text-start gy-4 mt-5">
                            <hr class="bg-white">
                            <div class="col-12">
                                <h2>Bank Details</h2>
                            </div>
                            <fieldset class="col-6 col-xl-3">
                                <label for="bank_name" class="form-label text-white">Bank Name</label>
                                <input id="bank_name" type="text" class="form-control" placeholder="Bank Name">
                            </fieldset>

                            <fieldset class="col-6 col-xl-3">
                                <label for="bank_account_nr" class="form-label text-white">Bank Account NR.</label>
                                <input id="bank_account_nr" type="text" class="form-control" placeholder="12345676890">
                            </fieldset>
                        </section>
                    </section>



                    <section v-if="btnActive === 1">
                        <section class="row  text-start gy-4 mt-5">

                            <p class="m-0 text-muted"> Received date:<strong> 12-12-2020 </strong>, Time: <strong>2:12
                                    PM</strong></p>

                            <fieldset class="col-6">
                                <label class="form-label text-white" for="budget">Budget</label>
                                <input type="text" class="form-control" id="budget" placeholder="Budget">
                            </fieldset>
                            <fieldset class="col-6">
                                <label class="form-label text-white" for="beds">Beds</label>
                                <input type="text" class="form-control" id="beds" placeholder="Beds">
                            </fieldset>

                            <fieldset class="col-6">
                                <label class="form-label text-white" for="furnishing">Furnishing</label>
                                <input type="text" class="form-control" id="furnishing" placeholder="Furnishing">
                            </fieldset>
                            <fieldset class="col-6">
                                <label class="form-label text-white" for="Proposed-move-in-date">Proposed move in
                                    date</label>
                                <input type="text" class="form-control" placeholder="Proposed move in date"
                                    id="Proposed-move-in-date">
                            </fieldset>

                            <fieldset class="col-6 ">
                                <label class="form-label text-white" id="total-occupation">Total occupation</label>
                                <input type="text" class="form-control" for="total-occupation"
                                    placeholder="Total occupation">
                            </fieldset>

                            <fieldset class="col-6 ">
                                <label class="form-label text-white">Occupation</label>
                                <input type="text" class="form-control" placeholder="Occupation">
                            </fieldset>

                            <fieldset class="col-6 ">
                                <label class="form-label text-white">Nationality</label>
                                <input type="text" class="form-control" placeholder="Nationality">
                            </fieldset>

                            <fieldset class="col-6 ">
                                <label class="form-label text-white">Gender</label>
                                <input type="text" class="form-control" placeholder="Gender">
                            </fieldset>

                            <fieldset class="col-6 ">
                                <label class="form-label text-white">Duration of tenancy </label>
                                <input type="text" class="form-control" placeholder="Duration of tenancy">
                            </fieldset>

                            <fieldset class="col-6 ">
                                <label class="form-label text-white">Pets</label>
                                <input type="text" class="form-control" placeholder="pets">
                            </fieldset>

                            <fieldset class="col-12 ">
                                <label for="other_remark" class="form-label text-white">Other remark </label>
                                <textarea class="form-control" id="other_remark" rows="5">
Lorem ipsum commodo ut esse aute velit cillum cillum magna nostrud velit consectetur. Culpa mollit enim pariatur pariatur eu aute deserunt qui cillum.
Culpa quis qui pariatur magna magna sint nisi enim officia sit ullamco dolore aliquip.
                                </textarea>

                                <article class="row justify-content-end mt-3">
                                    <div class="col-md-4 col-6 text-end">
                                        <a href="/src/app-library/requirement/recommended/requirement-matchingtool.html" class="btn btn-primary">
                                            Requirements matching tool
                                        </a>
                                    </div>
                                </article>
                            </fieldset>


                            <hr class="bg-white my-4">

                            <div class="col-12 text-start table-responsive">
                                <h4 class="fw-bold">Forwards To Rizuf Cordinator</h4>
                                <table class="table table-dark table-striped ">
                                    <thead>
                                        <tr>
                                            <td>Date of recommendation</td>
                                            <td>Total Units</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="align-middle">
                                            <td>12-12-2020</td>
                                            <td>15</td>
                                            <td><a class="btn btn-outline-info w-100" href="/src/app-library/requirement/recommended/requirement-matchingtool.html" >view</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </section>
                    <section v-if="btnActive === 2">
                        <section class="row  text-start gy-4 mt-5">
                            <fieldset class="col-6 ">
                                <label class="form-label text-white">Role</label>
                                <input type="text" class="form-control" placeholder="role">
                            </fieldset>

                            <fieldset class="col-6">
                                <label class="form-label text-white">Date of role creation</label>
                                <input type="date" class="form-control">
                            </fieldset>
                            <fieldset class="col-6 ">
                                <!-- <label class="form-label text-white"></label> -->
                                <input type="text" class="form-control" placeholder="Tenant">
                            </fieldset>
                            <fieldset class="col-6 col- ">
                                <!-- <label class="form-label text-white"></label> -->
                                <input type="date" class="form-control" placeholder="Tenant">
                            </fieldset>


                        </section>
                    </section>

                    <hr class="my-5 bg-white" />
                    <article class="row justify-content-end mt-5">
                        <div class="col-md-3 col-6">
                            <a href="javascript:void" class="w-100 btn btn-outline-info">
                                Edit &nbsp;
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <div class="col-md-3 col-6">
                            <a href="javascript:void" class="w-100 btn btn-primary">
                                Save &nbsp;
                                <i class="far fa-arrow-alt-circle-right"></i>
                            </a>
                        </div>
                    </article>
                </article>
            </section>
        </article>
        <footer includehtml="/src/footer.html" class="mt-auto">
        </footer>
    </main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="assets/js/main.js"></script> -->
<script src="/assets/js/includefile.js"></script>
<script>
    includehtml();
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
        el: '#vue-app',
        data: {
            btnActive: 1,
            buttons: [
                'Personal details'
                , 'Requirements'
                , 'Roles'
                , 'Appointments',
                'Offers',
                'TA and Check-In',
                'Payments',
                'Recommended properties',
            ],
        },
        methods: {
            handleClick(event) {
                document.getElementById(this.btnActive).classList.remove('active')
                this.btnActive = parseInt(event.target.id)
                event.target.classList.add('active')
            }
        }
    })
</script>

</html>